html {
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;

  --devies-blue: #007396;
  --colombia_blue: #C6E5FE;
  --sandy_brown: #F79548;
  --jasmine: #FCDC7C;
  --rich_black: #0F0D1B;
  --ivory: #FDFDF2;
}

