<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Task A - Code in the Dark</title>

  <link href="style.css" rel="stylesheet" />
</head>
<body>
  <header class="page-header">
      <h1>Devies</h1>
  </header>

  <main>
    <article class="company" id="rnd">
      <h2>Digital Core</h2>
      <div class="info">
        <img src="image.png" alt="image">

        <div class="text">
          <h3>Mindful developers do Mindful business.</h3>
          <p>At Devies Development we believe that the greatest values are produced when we work together. We grow by helping each other – through coaching, guiding, leading and inspiration.
We improve by helping our customers improve – through close collaborations, responsible actions and shared visions.</p>
        </div>
      </div>
    </article>
    <article class="company" id="core">
      <h2>Digital Core</h2>
      <div class="info">
        <img src="image.png" alt="image">

        <div class="text">
          <h3>Your analytical partner and guide.</h3>
          <p>Partnering with Devies Digital Core ensures you receive tailored software solutions that leverage in-depth expertise in data platforms, machine learning and analytics, to drive your business forward.</p>
        </div>
      </div>
    </article>
    <article class="company" id="cyber">
      <h2>Cyber</h2>
      <div class="info">
        <img src="image.png" alt="image">

        <div class="text">
          <h3>Innovative Branding Solutions</h3>
          <p>We help organizations build secure products by integrating cybersecurity into every stage of the product development lifecycle. Our business-driven approach ensures security aligns with your organization’s goals – enhancing protection without slowing down innovation. By working closely with development teams, we offer tailored security services that strengthen your products’ cybersecurity, enabling seamless and secure product deliveries.</p>
        </div>
      </div>
    </article>
  </main>
</body>
</html>
